.m-task-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: crimson;
    color: whitesmoke
}
.m-task-wrapper .controls{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


.m-task-wrapper.active{
    background-color: rgb(32, 46, 32);
}